# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
app/node_modules/
web/node_modules/
ws/node_modules/
.pnp/
.pnp.js

# local env files
ws/.env
.env
.env*.local
!.env.example

# build outputs
dist/
web-build/
coverage/
build/

# Expo
.expo/
expo-env.d.ts
app/android/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS / misc
.DS_Store
*.pem

# TypeScript
*.tsbuildinfo

# Keep lockfiles versioned
!yarn.lock
!app/yarn.lock
!web/yarn.lock
!ws/yarn.lock
!package-lock.json
!pnpm-lock.yaml