<form [formGroup]="form">
  <div class="po-row">
    <po-input class="po-md-2 po-sm-4" formControlName="sequence" p-label="Sequência" />
    <po-select
      class="po-md-2 po-sm-8"
      formControlName="type"
      p-label="Tipo"
      p-required
      [p-options]="typeOptions"
    />
  </div>

  <div class="po-row lookup-row">
    <po-input
      class="po-md-10 po-sm-9"
      formControlName="taskDescription"
      p-label="Tarefa"
      [p-help]="form.controls.taskCode.value ? 'Código: ' + form.controls.taskCode.value : ''"
    />
    <po-button
      class="po-md-2 po-sm-3 lookup-button"
      p-icon="an an-magnifying-glass"
      p-label="Pesquisar"
      [p-disabled]="loading"
      (p-click)="requestLookup('task')"
    />
  </div>

  <div class="po-row lookup-row">
    <po-input
      class="po-md-10 po-sm-9"
      formControlName="supplyDescription"
      p-label="Insumo"
      [p-help]="form.controls.supplyCode.value ? 'Código: ' + form.controls.supplyCode.value : ''"
    />
    <po-button
      class="po-md-2 po-sm-3 lookup-button"
      p-icon="an an-magnifying-glass"
      p-label="Pesquisar"
      [p-disabled]="loading"
      (p-click)="requestLookup('supply')"
    />
  </div>

  <div class="po-row">
    <po-decimal
      class="po-md-3 po-sm-6"
      formControlName="resourceQuantity"
      p-label="Quantidade do recurso"
      p-required
      [p-decimals-length]="2"
    />
    <po-decimal
      class="po-md-3 po-sm-6"
      formControlName="quantity"
      p-label="Quantidade"
      p-required
      [p-decimals-length]="2"
    />
    <po-datepicker class="po-md-3 po-sm-6" formControlName="startDate" p-label="Data de início" />
    <po-input
      class="po-md-3 po-sm-6"
      formControlName="startTime"
      p-label="Hora de início"
      p-mask="99:99"
      p-placeholder="hh:mm"
    />
  </div>

  <div class="po-row lookup-row">
    <po-input
      class="po-md-10 po-sm-9"
      formControlName="warehouseDescription"
      p-label="Almoxarifado"
      [p-help]="
        form.controls.warehouseCode.value ? 'Código: ' + form.controls.warehouseCode.value : ''
      "
    />
    <po-button
      class="po-md-2 po-sm-3 lookup-button"
      p-icon="an an-magnifying-glass"
      p-label="Pesquisar"
      [p-disabled]="loading"
      (p-click)="requestLookup('warehouse')"
    />
  </div>

  <div class="po-row lookup-row">
    <po-input
      class="po-md-10 po-sm-9"
      formControlName="locationDescription"
      p-label="Localização"
      [p-help]="
        form.controls.locationCode.value ? 'Código: ' + form.controls.locationCode.value : ''
      "
    />
    <po-button
      class="po-md-2 po-sm-3 lookup-button"
      p-icon="an an-magnifying-glass"
      p-label="Pesquisar"
      [p-disabled]="loading"
      (p-click)="requestLookup('location')"
    />
  </div>

  <div class="po-row lookup-row">
    <po-input
      class="po-md-10 po-sm-9"
      formControlName="supplierDescription"
      p-label="Fornecedor"
      [p-help]="
        form.controls.supplierCode.value ? 'Código: ' + form.controls.supplierCode.value : ''
      "
    />
    <po-button
      class="po-md-2 po-sm-3 lookup-button"
      p-icon="an an-magnifying-glass"
      p-label="Pesquisar"
      [p-disabled]="loading"
      (p-click)="requestLookup('supplier')"
    />
  </div>

  <div class="po-row">
    <po-input class="po-md-4 po-sm-12" formControlName="purchaseRequest" p-label="Número da SC" />
    <po-input class="po-md-4 po-sm-6" formControlName="invoice" p-label="Nota fiscal" />
    <po-input class="po-md-4 po-sm-6" formControlName="invoiceSeries" p-label="Série" />
    <po-textarea class="po-md-12" formControlName="notes" p-label="Observação" [p-rows]="5" />
  </div>
</form>
