:host {
  display: block;
  height: 100dvh;
  min-height: 100vh;
}

::ng-deep po-page-login,
::ng-deep po-page-login po-page-background {
  display: block;
  height: 100%;
}

::ng-deep po-page-login .po-page-login-panel {
  border-top: 0.25rem solid var(--color-brand-01-base);
}
